
<%- include('../partials/head') %>
    <title>Registro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<style>
  .gradient-custom-4 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
</style>
<%- include('../partials/nav') %>
<%- include('../error/login') %>
<body >
  <section class="h-100 h-custom" style="background-color: #fefaeb;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" style="text-align: center;">Registro</h3>
  
              <form class="px-md-2" action="/registro" method="post" enctype="multipart/form-data" id="miFormulario">
  
                <div class="mb-5 row">
                  <div class="col-sm-3">
                    <div class="image-port">
                      <img src="https://toppng.com/uploads/preview/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png" height="90px" width="90px" class="profile-photo m-auto rounded-circle" id="dp-pick">
                    </div>
                  </div>
                  <div class="col-sm-9 mt-3">
                    <input type="file" class="form-control" accept=".jpg, .png, .jpeg" name="image" id="files"/>
                  </div>
                  <div class="text-danger" id="errorImagen" style="display: none;">Ingresa una imagen</div>
                </div>
                <div class="form-floating mb-4">
                  <input type="text" name="username" id="username" class="form-control "  placeholder="" value="<% if(typeof valores != 'undefined') { %><%= valores.username %><%}%>"/>
                  <label for="floatingInputGroup1">Username</label>
                  <div class="invalid-feedback" id="errorUser" style="display: none;">El campo Username es requerido</div>
                </div>

                <div class="row mb-4" >
                  <div class="form-floating col-sm-6">
                    <input type="text" name="nombre"  id="nombre" class="form-control" placeholder="" value="<% if(typeof valores != 'undefined') { %><%= valores.nombre %><%}%>"/>
                    <label class="form-label" for="form3Example3cg">Nombre</label>
                    <div class="invalid-feedback" id="errorNombre" style="display: none;">El campo Nombre es requerido</div>
                  </div>
  
                  <div class="form-floating col-sm-6">
                    <input type="text" name="apellido" id="apellido" class="form-control " placeholder="" value="<% if(typeof valores != 'undefined') { %><%= valores.apellido %><%}%>" />
                    <label class="form-label" for="form3Example4cg">Apellido</label>
                    <div class="invalid-feedback" id="errorApellido" style="display: none;">El campo Apellido es requerido</div>
                  </div>
                </div>

                <div class="form-floating mb-4">
                  <input type="email" name="email" id="email" class="form-control " placeholder="" value="<% if(typeof valores != 'undefined') { %><%= valores.email %><%}%>" />
                  <label class="form-label" for="form3Example1cg">Correo Electronico</label>
                  <div class="invalid-feedback" id="errorEmail" style="display: none;">El campo Correo Electronico es requerido</div>
                </div>

                <div class="form-floating mb-4">
                  <input type="tel" name="telefono" id="telefono" class="form-control " placeholder="" value="<% if(typeof valores != 'undefined') { %><%= valores.telefono %><%}%>" />
                  <label class="form-label" for="form1Example1">Telefono</label>
                  <div class="invalid-feedback" id="errorTelefono" style="display: none;">El campo Telefono es requerido</div>
                </div>
                
                <div class="form-floating mb-4 ">
                  <input type="password" name="password" id="password" class="form-control" placeholder=""  />
                  <label class="form-label" for="form1Example2">Contraseña</label>
                  <div class="invalid-feedback" id="errorContra" style="display: none;">El campo Contraseña es requerido</div>
                </div>

                <div class="col text-center justify-content-center">
                  <div class="d-flex justify-content-center">
                      <div class="g-recaptcha" data-sitekey="6LciE7YmAAAAACxNBXx4PfQ0NJ73V6VwLPyU4p-9" data-callback="verifyCaptcha"></div>
                      
                  </div>
                  <div class="text-danger" id="errorRecap" style="display: none;">El recaptcha es requerido</div>
                </div>

                <div class=" mt-4 d-grid gap-2">
                  <button type="submit"class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 

</body>
<div class="w-100 fixed-buttom mb-0 ms-0 me-0 mt-3">
  <%- include('../partials/footer') %>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
 <script src="/js/registro.js" ></script>

