<%- include('../partials/head') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KiwiSazón</title>
    </head>
    <style>
        .section-title {
            position: relative;
            display: inline-block;
            letter-spacing: 1px;
            font-weight: bold;
            color: #186A3B;
        }

        .section-title::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            margin-top: -1px;
            background: #186A3B;
        }

        .section-title span {
            position: relative;
            background: #ffffff;
            z-index: 1;
        }

        .px-2 {
            padding-right: 0.5rem !important;
        }

        /* Cards*/

        a {
            text-decoration: none;
        }

        .food-card {
            background: #fff;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 30px;
            -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            -webkit-transition: 0.1s;
            transition: 0.1s;
        }

        .food-card:hover {
            -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
        }

        .food-card .food-card_img {
            display: block;
            position: relative;
        }

        .food-card .food-card_img img {
            width: 100%;
            height: 200px;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .food-card .food-card_img i {
            position: absolute;
            top: 20px;
            right: 30px;
            color: #fff;
            font-size: 25px;
            -webkit-transition: all 0.1s;
            transition: all 0.1s;
        }

        .food-card .food-card_img i:hover {
            top: 18px;
            right: 28px;
            font-size: 29px;
        }

        .food-card .food-card_content {
            padding: 15px;
        }

        .food-card .food-card_content .food-card_title-section {
            height: 100px;
            overflow: hidden;
        }

        .food-card .food-card_content .food-card_title-section .food-card_title {
            font-size: 24px;
            color: #333;
            font-weight: 500;
            display: block;
            line-height: 1.3;
            margin-bottom: 8px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .food-card .food-card_content .food-card_title-section .food-card_author {
            font-size: 15px;
            display: block;
        }

        .food-card .food-card_content .food-card_bottom-section .space-between {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .food-card .food-card_content .food-card_bottom-section .food-card_subscribers {
            margin-left: 17px;
        }

        .food-card .food-card_content .food-card_bottom-section .food-card_subscribers img,
        .food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count {
            height: 45px;
            width: 45px;
            border-radius: 45px;
            border: 3px solid #fff;
            margin-left: -17px;
            float: left;
            background: #f5f5f5;
        }

        .food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count {
            position: relative;
        }

        .food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count span {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 13px;
        }

        .food-card .food-card_content .food-card_bottom-section .food-card_price {
            font-size: 21px;
            font-weight: 500;
            color: #F47A00;
        }

 

        @media (min-width: 992px) {
            .food-card--vertical {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                position: relative;
                height: 235px;
            }

            .food-card--vertical .food-card_img img {
                width: 200px;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }

        /* -------------------- ------------------------ */

        /*MODAL DETALLE*/
        .modal-detalle{
            background: rgba(0, 0, 0, 0.5); 
            color: #fff; 
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    </style>
 <%- include('../partials/nav') %>
 <body>
        <div class="container-fluid ">
            
            <div class="row">
                <div class="col text-center">
                    <h2 class="section-title px-5"><span class="px-lg-2">Mis Recetas</span></h2>
                </div>
                <% if (misrecetas.length> 0) { %>
                    <div class="col-auto mb-2">
                        <div class="position-sticky bottom-0 end-0 me-4">
                            <button type="button" class="btn btn-primary" id="miBoton" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Crear Receta
                            </button>
                        </div>
                    </div>
                <% } %>
            </div>
                <!--Tabla o cards-->
                <% if (misrecetas.length> 0) { %>
                    <div class="row ">
                        <% misrecetas.forEach(item=> { %>
                            <div class="col-sm-4 col-md-4 col-lg-3">
                                <div class="food-card">
                                    <div class="food-card_img">
                                        <% if(item.imagen==null) { %>
                                            <img
                                                src="https://cdn-icons-png.flaticon.com/512/2905/2905306.png" />
                                            <% }else{ %>
                                                <img src="<%= item.imagen %>" />
                                                <% } %>
                                    </div>
                                    <div class="food-card_content">
                                        <div class="food-card_title-section">
                                            <a href="#!" class="food-card_title">
                                                <%= item.platilloNombre %>
                                            </a>
                                            <a href="#!" class="food-card_author">Categoria: <%= item.categoria %></a>
                                            <div class="food-card_author"> 
                                                Tiempo: 
                                                <span class="fa-regular fa-clock"></span>
                                                <%= item.tiempo %> Min.
                                            </div>
                                        </div>
                                        <div class="food-card_bottom-section">
                                            <div class="space-between">
                                                <div>
                                                    <% if (item.dificultad=='Baja') { %>
                                                        <span class="fa fa-fire" style="color: green;"></span>
                                                    <% } %>
                                                    <% if (item.dificultad=='Media') { %>
                                                        <span class="fa fa-fire" style="color: orange;"></span>
                                                    <% } %>
                                                    <% if (item.dificultad=='Alta') { %>
                                                        <span class="fa fa-fire" style="color: red;"></span>
                                                    <% } %>
                                                   
                                                    <%= item.dificultad %> &nbsp;&nbsp;-&nbsp;&nbsp; 
                                                    <span class="fa-solid fa-users"></span>
                                                    <%= item.porciones %>
                                                </div>
                                                <div class="pull-right">
                                                    <% if (item.isAprovado==0) { %>
                                                        <span class="badge badge-success" style="background-color: yellow; color: #727171;">
                                                            Receta en Revision
                                                        </span>
                                                    
                                                    <% } %>
                                                        <% if (item.isAprovado==1) { %>
                                                            <span class="badge badge-success" style="background-color: green;">
                                                                Receta Aprovada
                                                            </span>
                                                           
                                                            <% } %>

                                                                <% if (item.isAprovado==2) { %>
                                                                        <span class="badge badge-success" style="background-color: red;">
                                                                            Receta Rechazada
                                                                        </span>    
                                                                
                                                                    <% } %>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="mb-2">
                                               
                                                <div class="food-card_price">
                                                    <div class="d-flex flex-wrap justify-content-center" >
                                                        <div class="p-2">
                                                            <button 
                                                        type="button"
                                                        class="btn btn-info btn-lg btn-rounded " 
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#DetalleModal<%= item._id %>"  title="Detalle">
                                                        <i class="fa-solid fa-plus"></i>
                                                        </button>
                                                        </div>
                                                        <div class="p-2">
                                                            <button 
                                                            type="button"
                                                            class="btn btn-info btn-lg btn-rounded " 
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#myModalEdit<%= item._id %>" title="Actualizar">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </button>
                                                        </div>
                                                    </div>

                                                    
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <% }); %>
                    </div>

                    <% } else { %>
                        <div class="row mt-5 d-flex justify-content-center">
                            <div class="col-md-6 col-sm-12">
                                <img src="https://firebasestorage.googleapis.com/v0/b/kiwisazonp.appspot.com/o/imagenes%2Frecetas1.png?alt=media&token=6bf98922-3b08-4dbb-a26d-aa02be56ee7b" 
                                class="img-fluid rounded-circle" style="max-width: 100%; max-height: 400px;">
                            </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="text-md-start mt-md-5">
                                      <h2 class="mb-4 text-danger">¡Ups! Parece que aún no tienes recetas.</h2>
                                      <p class="lead mb-4" style="color: #0F893F;">No te preocupes, cada gran chef empieza desde cero. ¡Es tu oportunidad de crear delicias únicas!</p>
                                      <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        ¡Crear Receta Ahora!
                                      </button>
                                    </div>
                                </div>
                                
                            
                            
                        </div>
                        <% } %>

            


            <!-- Modal -->
            <div class="modal fade " id="exampleModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">

                    <form class="modal-content" action="/users/crearReceta" method="post"
                        enctype="multipart/form-data" id="miFormulario">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Receta
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="text" name="idUser" id="idUser" class="form-control "
                                style="display: none;" value="<%= loginUser._id%>" disabled />
                            <div class="form-floating mb-4">
                                <input type="text" name="platilloNombre" id="platilloNombreCrear"
                                    class="form-control " placeholder=" "  value="" required />
                                <label for="floatingInputGroup1">Nombre del Platillo</label>
                                <div class="invalid-feedback" id="errorNombre" style="display: none;">
                                    El campo Nombre del Platillo es
                                    requerido</div>
                            </div>
                            <div class="mb-5 row">
                                <div class="col-sm-3">
                                    <div class="image-port">
                                        <img src="https://i.pinimg.com/originals/e8/52/5b/e8525b82d33f55a831e4eaceb023a612.jpg"
                                            height="90px" width="90px"
                                            class="profile-photo m-auto rounded-circle"
                                            id="dp-pick">
                                    </div>
                                </div>
                                <div class="col-sm-9 mt-3">
                                    <input type="file" class="form-control"
                                        accept=".jpg, .png, .jpeg" name="image" id="files" />
                                </div>
                                <div class="text-danger" id="errorImagen" style="display: none;">Ingresa una imagen</div>
                            </div>

                            <div class="row mb-4">
                                <div class="form-floating col-sm-6">
                                    <select id="categoriaCrear" name="categoria" class="form-select">
                                        <% categorias.forEach(function(cate) { %>
                                            <option value="<%= cate.nombre %>"  ><%= cate.nombre %></option>
                                        <% }); %>
                                    </select>
                                    <label for="categoria">Selecciona una Categoria</label>
                                </div>
                                <div class="form-floating col-sm-6">
                                    <select id="dificultadCrear" name="dificultad" class="form-select">
                                        <option value="Alta"  >Alta</option>
                                        <option value="Media"  >Media</option>
                                        <option value="Baja"   >Baja</option>
                                    </select>
                                    <label for="dificultad">Selecciona una Dificultad</label>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-floating">
                                    <textarea class="form-control"
                                        placeholder="Leave a comment here" id="ingredientesCrear"
                                        name="ingredientes" style="height: 100px"></textarea>
                                    <label for="ingredientes">Ingredientes</label>
                                    <div class="invalid-feedback" id="errorIngredientes" style="display: none;">
                                        El campo Ingredientes es
                                        requerido</div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-floating">
                                    <textarea class="form-control"
                                        placeholder="Leave a comment here" id="pasosSeguirCrear"
                                        name="pasosSeguir" style="height: 100px"></textarea>
                                    <label for="pasosSeguir">Pasos a Seguir</label>
                                    <div class="invalid-feedback" id="errorPasos" style="display: none;">
                                        El campo Pasos a Seguir es
                                        requerido</div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-floating col-sm-6">
                                    <input type="text" name="tiempo" id="tiempoCrear"
                                        class="form-control" placeholder=" " required  />
                                    <label class="form-label" for="tiempo">Tiempo </label>
                                    <div class="invalid-feedback" id="errorTiempo"
                                        style="display: none;">El campo Tiempo es requerido
                                    </div>
                                </div>

                                <div class="form-floating col-sm-6">
                                    <input type="number" name="porciones" id="porcionesCrear"
                                        class="form-control " placeholder=" " required />
                                    <label class="form-label" for="porciones">Porciones</label>
                                    <div class="invalid-feedback" id="errorPorciones"
                                        style="display: none;">El campo Porciones es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-floating">
                                    <textarea class="form-control"
                                        placeholder="Leave a comment here" id="tipsCrear" name="tips"
                                        style="height: 100px"></textarea>
                                    <label for="tips">Tips</label>
                                    <div class="invalid-feedback" id="errorTips" style="display: none;">
                                        El campo Tips es
                                        requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                id="cerrarModalNuevaReceta" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>

                </div>
            </div>

           
            <% if (misrecetas.length> 0) { %>
                 <!--Modal Detalle-->
                <% misrecetas.forEach(function(item) { %>
                    <div class="modal fade" id="DetalleModal<%= item._id %>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content ">
                                <% if(item.imagen==null) { %>
                                    <div class="modal-header" style=" background: url('https://toppng.com/uploads/preview/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png') center center no-repeat;
                                background-size: cover;">
                                    <h5 class="modal-title modal-detalle text-center" id="exampleModalLabel">Detalles de receta
                                    </h5>
                                    <button type="button" class="btn-close btn-white" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                    <% }else{ %>
                                        <div class="modal-header" style=" background: url('<%= item.imagen %>') center center no-repeat;
                                background-size: cover;">
                                    <h5 class="modal-title modal-detalle text-center"  id="exampleModalLabel" >Detalles de receta
                                    </h5>
                                    <button type="button" class="btn-close btn-white" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                        <% } %>
                              
                                <div class="modal-body">
                                    
                                    <% if(item.imagen==null) { %>
                                        <img src="https://toppng.com/uploads/preview/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png"
                                            class="img-fluid rounded-pill"
                                            alt="Townhouses and Skyscrapers" style="height: 100px; " />
                                        <% }else{ %>
                                            <img src="<%= item.imagen %>" class="img-fluid rounded-pill"
                                                alt="Townhouses and Skyscrapers"
                                                style="height: 100px; " />
                                            <% } %>
                                                </p>
                                                <p>Nombre de receta: <%= item.platilloNombre %>
                                                </p>
                                                </p>
                                                <p>Ingredientes: </p>
                                                <ul>
                                                    <% item.ingredientes.split('\n').forEach(function(ingrediente)
                                                        { %>
                                                        <li>
                                                            <%= ingrediente %>
                                                        </li>
                                                        <% }); %>
                                                </ul>
                                                <p>Pasos a segir: </p>
                                                <ul>
                                                    <% item.pasosSeguir.split('\n').forEach(function(pasos)
                                                        { %>
                                                        <li>
                                                            <%= pasos %>
                                                        </li>
                                                        <% }); %>
                                                </ul>
                                                <p>Dificultad: <%= item.dificultad %>
                                                </p>
                                                <p>Tiempo: <%= item.tiempo %> Min.</p>
                                                <p>Porciones: <%= item.porciones %>
                                                </p>
                                                <p>Tips: <%= item.tips %>
                                                </p>
                                                <p>Categoria: <%= item.categoria %>
                                                </p>

                                                <p> Estado:
                                                    <% if (item.isAprovado==0) { %>

                                                        <span style="background-color: yellow;"
                                                            class="badge badge-warning rounded-pill d-inline">Receta
                                                            en revision</span>

                                                        <% } %>

                                                            <% if (item.isAprovado==1) { %>
                                                                <span style="background-color: green;"
                                                                    class="badge badge-success rounded-pill d-inline">Receta
                                                                    aprovada</span>

                                                                <% } %>


                                                                    <% if (item.isAprovado==2) { %>
                                                                        <span
                                                                            style="background-color: red;"
                                                                            class="badge badge-danger rounded-pill d-inline">Receta
                                                                            Rechazada</span>
                                                                        <% } %>
                                                </p>
                                                <!-- Agrega más detalles según tus necesidades -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                
                 <!-- Modal Edit -->
         <% misrecetas.forEach(function(item) { %>
            <div class="modal fade " id="myModalEdit<%= item._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
               
                <form class="modal-content" action="/users/editarReceta" method="post" onsubmit="submitForm(event, this)" enctype="multipart/form-data">
                    <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Receta</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                     <div class="modal-body">
                       
                        <input type="text" name="idUser" id="idUser" class="form-control " style="display: none;"  value="<%= loginUser._id%>" disabled />
                        <div class="form-floating mb-4">
                           <input type="text" name="recetaId" id="recetaId" class="form-control" placeholder="" style="display: none;" required value="<%= item._id%>" readonly/>
                        </div>
                        <% if (item.isAprovado==2) { %>
                          <div class="alert alert-warning" role="alert">
                            <%= item.comentariosRevision%>
                          </div>
                          <% } %>
                        <div class="form-floating mb-4">
                            <input type="text" name="platilloNombre" id="platilloNombre" class="form-control "  placeholder=" " required value="<%= item.platilloNombre %>">
                            <label for="floatingInputGroup1">Nombre del Platillo</label>
                            <div class="invalid-feedback" id="errorNombreE" style="display: none;"> El campo Nombre del Platillo es requerido</div>
                        </div>
                            <div class="mb-5 row">
                                <div class="col-sm-3">
                                   <div class="image-port">
                                   <% if(item.imagen==null) { %>
                                       <img src="https://i.pinimg.com/originals/e8/52/5b/e8525b82d33f55a831e4eaceb023a612.jpg" 
                                       height="90px" width="90px" class="profile-photo m-auto rounded-circle" id="dp-pickE">
                                       <% }else{ %>
                                           <img src="<%= item.imagen %>" class="img-fluid rounded-pill"
                                           height="90px" width="90px" class="profile-photo m-auto rounded-circle" id="dp-pickE">
                                           <% } %>
                                    </div>
                                </div>
                                <div class="col-sm-9 mt-3">
                                    <input type="file" class="form-control" accept=".jpg, .png, .jpeg" name="image" id="filesE" />
                                    
                                </div>    
                            </div>    
                           
                            <div class="row mb-4">
                                <div class="form-floating col-sm-6">
                                   <select id="categoria" name="categoria" class="form-select">
                                    <% categorias.forEach(function(cate) { %>
                                        <option value="<%= cate.nombre %>" <%= item.categoria === cate.nombre ? 'selected' : '' %>><%= cate.nombre %></option>
                                    <% }); %>
                                   </select>
                                   
                                    <label for="categoria">Selecciona una Categoria</label>
                                </div>
                                <div class="form-floating col-sm-6">
                                    <select id="dificultad" name="dificultad" class="form-select">
                                       <option value="Alta" <%= item.dificultad === 'Alta' ? 'selected' : '' %>>Alta</option>
                                       <option value="Media" <%= item.dificultad === 'Media' ? 'selected' : '' %>>Media</option>
                                       <option value="Baja" <%= item.dificultad === 'Baja' ? 'selected' : '' %>>Baja</option>
                                   </select>
                                   
                                    <label for="dificultad">Selecciona una Dificultad</label>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="ingredientes" name="ingredientes" style="height: 100px"><%= item.ingredientes %></textarea>
                                    <label for="ingredientes">Ingredientes</label>
                                    <div class="invalid-feedback" id="errorIngredientesE" style="display: none;">
                                        El campo Ingredientes es
                                        requerido</div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="pasosSeguir" name="pasosSeguir" style="height: 100px"><%= item.pasosSeguir %></textarea>
                                    <label for="pasosSeguir">Pasos a Seguir</label>
                                    <div class="invalid-feedback" id="errorPasosE" style="display: none;">
                                        El campo Pasos a Seguir es
                                        requerido</div>
                                </div>
                            </div>
                            <div class="row mb-4" >
                                <div class="form-floating col-sm-6">
                                    <input type="text" name="tiempo"  id="tiempo" class="form-control" value=" <%= item.tiempo %>"  required/>
                                    <label class="form-label" for="tiempo">Tiempo </label>
                                     <div class="invalid-feedback" id="errorTiempoE"
                                        style="display: none;">El campo Tiempo es requerido
                                    </div>
                                </div>
                
                                <div class="form-floating col-sm-6">
                                    <input type="number" name="porciones" id="porciones" class="form-control " value=<%= item.porciones %>  required />
                                    <label class="form-label" for="porciones">Porciones</label>
                                    <div class="invalid-feedback" id="errorPorcionesE"
                                        style="display: none;">El campo Porciones es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="tips" name="tips" style="height: 100px"><%= item.tips %></textarea>
                                    <label for="tips">Tips</label>
                                    <div class="invalid-feedback" id="errorTipsE" style="display: none;">
                                        El campo Tips es
                                        requerido</div>
                                </div>
                            </div>
                    </div>
                     <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="cerrarModalNuevaReceta"
                                data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                     </div>
                </form>
                
            </div>
        </div>
        <% }); %>
            <% }; %>
            

           
    <% if(valores && valores.length>0) { %>
        <script>
            const valoresHtml = '<%= valores %>';
            const valoresReales = valoresHtml.replace(/&#34;/g, '"');
            const valoresDecodificados = decodeURIComponent(valoresReales);
            const valores = JSON.parse(valoresDecodificados);
            console.log(valores.platilloNombre);

            const nombre = document.getElementById('platilloNombreCrear');
            const dificultad = document.getElementById('dificultadCrear');
            const categoria = document.getElementById('categoriaCrear');
            const ingredientes = document.getElementById('ingredientesCrear');
            const pasos = document.getElementById('pasosSeguirCrear');
            const tiempo = document.getElementById('tiempoCrear');
            const porciones = document.getElementById('porcionesCrear');
            const tips = document.getElementById('tipsCrear');

            document.addEventListener("DOMContentLoaded", function() {
            const miBoton = document.getElementById("miBoton");

            miBoton.addEventListener("click", function() {
                nombre.value=valores.platilloNombre
                categoria.value = valores.categoria
                dificultad.value = valores.dificultad
                ingredientes.value = valores.ingredientes
                pasos.value = valores.pasosSeguir
                tiempo.value = valores.tiempo
                porciones.value = valores.porciones
                tips.value = valores.tips
            });


            miBoton.click(); // Simular clic en el botón
            });
        </script>
    <% } %>          
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="/js/recetas.js"></script>
<% misrecetas.forEach(function(item) { %>
<script>
    // Función para recargar la página
    function recargarPagina() {
        location.reload();
    }

    // Asignar el evento 'hidden.bs.modal' a la modal
    $('#myModalEdit<%= item._id %>').on('hidden.bs.modal', function () {
        Swal.fire({
                    title: '¿Deseas descartar los cambios realizados?',
                    text: 'Si cierras la modal, se perderán los cambios no guardados.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, cerrar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        
            recargarPagina();
                    } else {
                        
            recargarPagina();
                    }
                });
    });
</script>
<% })%>
        
</body>

    </html>